@font-face{
    font-family: segoe UI;
    src: url('font/Segoe UI.woff') format('woff');

}


body{
    margin: 0;
    padding: 0;
    font-family: segoe UI;
}

a{
    color:#ffff;
    text-decoration: none;
}

.container{
    width: 60%;
    margin: auto;
}


/*********Header area start********/

.header-area{
    background-color: #23232e;
    text-align: center;
    color: #ffff;
    padding: 30px 0;
}

.header-area .logo img{
    width: 60px;
    height: auto;
    margin-bottom: 40px;
    
}

.header-area h2{
    font-size: 50px;
    text-transform: uppercase;
    

}

.header-area p{
    font-size: 13px;
    margin-bottom: 100px;
}

.header-area .next-area a i{
    font-size: 12px;
    width: 12px;
    height: 12px;
    border: 1px solid #ffff;
    border-radius: 50%;
    padding: 4px;
}



/*********Header area end********/











  
/*********about area start********/

.about{
    overflow: hidden;
}

.about .content p{
    text-align: center;
    color:#888a8b;
    font-size: 18px;
}

.about h2{
    color: #464b4f;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
}


.about-us .col-1-3 h4{
    text-transform: uppercase;
    color: #464b4f;
    font-size: 20px;
}

.about-us .col-1-3 p{
    color: #888a8b;

}


 .col-1-3{
    width: 31.33%;
    float: left;
    overflow: hidden;
    margin-right:2% ;
}



/*********about area end********/


/*********portfolio area start********/

.portfolio{
    background-color: #23232e;
    text-align: center;
    color: #ffff;
    overflow: hidden;
}

.portfolio h2{
    font-size: 50px;
    text-transform: uppercase;
}

.portfolio .work-category ul{
    list-style: none;
     


}

.portfolio .work-category ul li{
    display: inline-block;
    
}

.portfolio .work-category ul li a{
    text-transform: capitalize;
    padding: 5px 15px;

}

.portfolio .work-category ul li:hover a {
    border-bottom: #7b77c9 2px solid;
}



 
 
.works-coloums img{
    width: 100%;
    height: auto;
}

.works-coloums .col-1-3{
    margin-bottom: 20px;
}

.button{
    margin-top: 50px;
    background: #7b77c9;
    border-radius: 5px;
    

}

 .button a{
     padding: 10px 15px;
 }


 
/*********portfolio area end********/



